<a href="https://colab.research.google.com/github/KishorePradeep/Python/blob/master/06_JSON_Exercises_%5B9_exercises_with_solution%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import json

# a Python object (dict):
x = [1,2,3,4,5]

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

[1, 2, 3, 4, 5]

In [4]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [13]:
x=[]

for i in range (0,5):
  x.append(i) 

# print(''.join(x))
print(''.join(map(str,x)))

01234

In [16]:
i=0

while i < 5 : 
  print(i)
  i+=1

0
1
2
3
4

In [23]:

import re 

s =" this is hello world hello "

mat=re.findall('hello',s)

print(mat)

['hello', 'hello']