<a href="https://colab.research.google.com/github/KishorePradeep/Python/blob/master/07_Python_List_%5B272_exercises_with_solution%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

9. Write a Python program to clone or copy a list

In [1]:
s=[1,2,3,4,5,6,7,8,9]

y=s

print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3. Write a Python program to get the largest number from a list.

 Write a Python program to sum all the items in a list

In [ ]:
s=[1,2,3,4,5,6,7,8,9]

print((len(s)/2)*(s[0]+len(s)))

# n/2 x (a + Tn)

# address the formula, input parameters & values.
# Input parameters & values:
# The number series 1, 2, 3, 4, 5.
# The first term a = 1
# The common difference d = 1
# Total number of terms n = 5

45.0

2. Write a Python program to multiply all the items in a list

In [ ]:
s=[1,2,3,4,5,7,8,9]
y=0

for i in range(0,len(s)):
  y=s[i]+y
  i+=1

print(y)

39

3. Write a Python program to get the largest number from a list.

3. Write a Python program to get the largest number from a list.

In [ ]:
s=[1,2,3,4,59,4,5,6,7 ]

s.sort()

print(s[-1])

59

4. Write a Python program to get the smallest number from a list

In [ ]:
s=[1,2,3,4,59,4,5,6,7 ]

s.sort()

print(s[0])

1

5. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [ ]:
s=['abc', 'xyz', 'aba', '1221']
t=[]

for i in s:
  if len(i)>=2 and i[0]==i[-1]:
    t.append(i)

print(len(t) )
print(t)

2
['aba', '1221']

6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples. 

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
def last(n): 
  return n[1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

7. Write a Python program to remove duplicates from a list.

In [ ]:
s=[1,2,3,4,5,6,6,6,7]

list(set(s))

[1, 2, 3, 4, 5, 6, 7]

8. Write a Python program to check a list is empty or not.

In [ ]:
s=[]

if len(s):
  print(True)
else:
  print(False)

False

In [ ]:
address = "1.1.1.1"
addressy=list(address)
y=[]

for i in addressy:
  if i=='.':
    y.append('[.]')
    print(i) 
  else:
    print(i)
    y.append(i)
        
print("".join(y))

1
.
1
.
1
.
1
1[.]1[.]1[.]1

10. Write a Python program to find the list of words that are longer than n from a given list of words

In [4]:
def found(l,n):

  s=[]

  for i in l:
    if len(i)>=n:
      s.append(i)

  return s



print(found(['quick', 'brown', 'jumps', 'over', 'lazy','olayolay'],5))

['quick', 'brown', 'jumps', 'olayolay']

11. Write a Python function that takes two lists and returns True if they have at least one common member.

In [6]:
def checked(l,m):
  
  for i in l:
    if i in m:
      return True

  return False

print(checked([1,2,3,4,5,6,6,6,7],[0,5,0]))

True