<a href="https://colab.research.google.com/github/KishorePradeep/Python/blob/master/07_Python_List_%5B272_exercises_with_solution%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

9. Write a Python program to clone or copy a list

In [ ]:
s=[1,2,3,4,5,6,7,8,9]

y=s

print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3. Write a Python program to get the largest number from a list.

 Write a Python program to sum all the items in a list

In [ ]:
s=[1,2,3,4,5,6,7,8,9]

print((len(s)/2)*(s[0]+len(s)))

# n/2 x (a + Tn)

# address the formula, input parameters & values.
# Input parameters & values:
# The number series 1, 2, 3, 4, 5.
# The first term a = 1
# The common difference d = 1
# Total number of terms n = 5

45.0

2. Write a Python program to multiply all the items in a list

In [ ]:
s=[1,2,3,4,5,7,8,9]
y=0

for i in range(0,len(s)):
  y=s[i]+y
  i+=1

print(y)

39

3. Write a Python program to get the largest number from a list.

3. Write a Python program to get the largest number from a list.

In [ ]:
s=[1,2,3,4,59,4,5,6,7 ]

s.sort()

print(s[-1])

59

4. Write a Python program to get the smallest number from a list

In [ ]:
s=[1,2,3,4,59,4,5,6,7 ]

s.sort()

print(s[0])

1

5. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [ ]:
s=['abc', 'xyz', 'aba', '1221']
t=[]

for i in s:
  if len(i)>=2 and i[0]==i[-1]:
    t.append(i)

print(len(t) )
print(t)

2
['aba', '1221']

6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples. 

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
def last(n): 
  return n[1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

7. Write a Python program to remove duplicates from a list.

In [ ]:
s=[1,2,3,4,5,6,6,6,7]

list(set(s))

[1, 2, 3, 4, 5, 6, 7]

8. Write a Python program to check a list is empty or not.

In [ ]:
s=[]

if len(s):
  print(True)
else:
  print(False)

False

In [ ]:
address = "1.1.1.1"
addressy=list(address)
y=[]

for i in addressy:
  if i=='.':
    y.append('[.]')
    print(i) 
  else:
    print(i)
    y.append(i)
        
print("".join(y))

1
.
1
.
1
.
1
1[.]1[.]1[.]1

10. Write a Python program to find the list of words that are longer than n from a given list of words

In [ ]:
def found(l,n):

  s=[]

  for i in l:
    if len(i)>=n:
      s.append(i)

  return s



print(found(['quick', 'brown', 'jumps', 'over', 'lazy','olayolay'],5))

['quick', 'brown', 'jumps', 'olayolay']

11. Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def checked(l,m):
  
  for i in l:
    if i in m:
      return True

  return False

print(checked([1,2,3,4,5,6,6,6,7],[0,5,0]))

True

binary search

In [ ]:
def ser(a):

  s=a


  




print(ser([1,2,3,4,5,6,7,8,9,10,11,12,15,16,17]))

In [ ]:
print("Hello World")

Hello World

In [ ]:
def ana(a,b):
  print(sorted(b))
  print(sorted(a))
  return sorted(b)==sorted(a)



print(ana('listen','silent'))

['e', 'i', 'l', 'n', 's', 't']
['e', 'i', 'l', 'n', 's', 't']
True

In [ ]:
c="hello world"

 Write a Python program to count the occurrences of each word in a given sentence

In [ ]:
def cnty(a):

  ans={}


  x=a.split()

  for i in x:
    if i not in ans:
      ans[i]=1
    else:
      ans[i]+=1
  
  return ans






print(cnty('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [ ]:
# 12. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements

# Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
# Expected Output : ['Green', 'White', 'Black']

def num_rem(a,c):

  res=[]
  for i in range(0,len(a)):
    if i not in c:
      res.append(a[i])

  
  return res

print(num_rem(['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'],[0,4,5]))

['Green', 'White', 'Black']

In [ ]:
# 13. Write a Python program to generate a 3*4*6 3D array whose each element is *

a='3*4*6'
c=a.split('*')



for i in c:
  print('*'*eval(i))

***
****
******

In [ ]:
# 14. Write a Python program to print the numbers of a specified list after removing even numbers from it.

x=[1,2,3,4,5,6,7,8]

y=[x[i] for i in range(0,len(x)) if x[i]%2!=0]

print(y)

[1, 3, 5, 7]

In [ ]:
# 15. Write a Python program to shuffle and print a specified list.

x=[1,2,3,4,5,6,7,8]

print(x[::-1])

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 16. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

res=[]

for i in range(100):
  if i*i in range(1,100):
    res.append(i*i)

print(res)
print(res[:5])
print(res[-5:])

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25]
[25, 36, 49, 64, 81]

In [ ]:
# 18. Write a Python program to generate all permutations of a list in Python

from itertools import combinations,permutations

arr=[1, 4, 9, 16, 25]
n=3
print(list(combinations(arr, n)))
print(list(permutations(arr, n)))

[(1, 4, 9), (1, 4, 16), (1, 4, 25), (1, 9, 16), (1, 9, 25), (1, 16, 25), (4, 9, 16), (4, 9, 25), (4, 16, 25), (9, 16, 25)]
[(1, 4, 9), (1, 4, 16), (1, 4, 25), (1, 9, 4), (1, 9, 16), (1, 9, 25), (1, 16, 4), (1, 16, 9), (1, 16, 25), (1, 25, 4), (1, 25, 9), (1, 25, 16), (4, 1, 9), (4, 1, 16), (4, 1, 25), (4, 9, 1), (4, 9, 16), (4, 9, 25), (4, 16, 1), (4, 16, 9), (4, 16, 25), (4, 25, 1), (4, 25, 9), (4, 25, 16), (9, 1, 4), (9, 1, 16), (9, 1, 25), (9, 4, 1), (9, 4, 16), (9, 4, 25), (9, 16, 1), (9, 16, 4), (9, 16, 25), (9, 25, 1), (9, 25, 4), (9, 25, 16), (16, 1, 4), (16, 1, 9), (16, 1, 25), (16, 4, 1), (16, 4, 9), (16, 4, 25), (16, 9, 1), (16, 9, 4), (16, 9, 25), (16, 25, 1), (16, 25, 4), (16, 25, 9), (25, 1, 4), (25, 1, 9), (25, 1, 16), (25, 4, 1), (25, 4, 9), (25, 4, 16), (25, 9, 1), (25, 9, 4), (25, 9, 16), (25, 16, 1), (25, 16, 4), (25, 16, 9)]

In [6]:
# 19. Write a Python program to get the difference between the two lists.

a=[1, 4, 9, 16, 25, 36, 49, 64, 81]
b=[1, 4, 9, 16, 25]

set(a)-set(b)

{36, 49, 64, 81}

In [8]:
# 20. Write a Python program access the index of a list

b=[1, 4, 9, 16, 25]

res=[]

for i in b:
  res.append(b.index(i))


print(res)

[0, 1, 2, 3, 4]