<a href="https://colab.research.google.com/github/KishorePradeep/Python/blob/master/Python_List_%5B272_exercises_with_solution%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

272. Write a Python program to generate a list of numbers in the arithmetic progression starting with the given positive integer and up to the specified limit. Go to the editor
Sample Output:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36]
[5, 10, 15, 20, 25]

In [ ]:

low=5
high=25
ran=low
l=[]

for i in range(low,high+1,ran):
    l.append(i)


print(l)

[5, 10, 15, 20, 25]

In [ ]:
271. Write a Python program to check if there are duplicate values in a given flat list. Go to the editor
Sample Output:
Original list:
[1, 2, 3, 4, 5, 6, 7]
Check if there are duplicate values in the said given flat list:
False
Original list:
[1, 2, 3, 3, 4, 5, 5, 6, 7]
Check if there are duplicate values in the said given flat list:
True

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7]
m=set(l)

if len(l)==len(m):
  print(True)
else:
  print(False)

True

In [ ]:
270. Write a Python program to check if the elements of the first list are contained in the second one regardless of order. Go to the editor
Sample Output:
True
True
False
True

In [ ]:
l=[1,2,3,4,89]
m=[1,2,3,4,5,6,7,8]


for i in range(0,len(l)):
  if l[i] not in m:
    print("not found")
  else:
    pass

not found

In [ ]:
269. Write a Python program to get the every nth element in a given list. Go to the editor
Sample Output:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[5, 10]
[6]
Click me to see the sample solution

268. Write a Python program to get a list with n elements removed from the left, right.

Sample Output:
Original list elements:
[1, 2, 3]
Remove 1 element from left of the said list:
[2, 3]

Remove 1 element from right of the said list:
[1, 2]
Original list elements:
[1, 2, 3, 4]

Remove 2 elements from left of the said list:
[3, 4]
Remove 2 elements from right of the said list:
[1, 2]

In [5]:
s=[1, 2, 3,4]

r=2

print(s[0:len(s)-2])

print(s[-r:])

[1, 2]
[3, 4]