<a href="https://colab.research.google.com/github/KishorePradeep/Python/blob/master/SCratchpad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1 def find_max(nums):
2   max_num = float("-inf") # smaller than all other numbers
3   for num in nums:
4     if num > max_num:
5  # (Fill in the missing line here)
6 return max_num

SyntaxError: ignored

In [ ]:
def validPalindrome( s):
        
        
  return list(reversed(s))==list(s)

print(validPalindrome("aba"))

True

In [ ]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)

In [ ]:
query = {'lat':'45', 'lon':'180'}
response = requests.get('http://api.open-notify.org/iss-pass.json', params=query)
print(response.json())

{'message': 'success', 'request': {'altitude': 100, 'datetime': 1643578243, 'latitude': 45.0, 'longitude': 180.0, 'passes': 5}, 'response': [{'duration': 557, 'risetime': 1643590108}, {'duration': 650, 'risetime': 1643595842}, {'duration': 627, 'risetime': 1643601678}, {'duration': 625, 'risetime': 1643607522}, {'duration': 651, 'risetime': 1643613336}]}

In [ ]:
l=[1 ,2,34,5,]

type(l)

list

In [ ]:
class Sample():
  pass

x=Sample()

print(type(x))

<class '__main__.Sample'>

In [ ]:
class Agent():
  def __init__(self,name):
    self.name=name


x=Agent('Bond')

In [ ]:
x.name

'Bond'

araary pair

l=[1,2,3,4,5]
c=4

In [ ]:
l=[1,2,3,4,5,2]
c=4
seen=set()
output=set()

for i in l:

  tgt= c-i

  if tgt not in seen:
    seen.add(i)
  else:
    output.add((min(tgt,i),max(tgt,i)))


print(output)
print(seen)

{(1, 3), (2, 2)}
{1, 2, 4, 5}

In [ ]:
def finder(a,b) : 
  a.sort()
  b.sort()

  for i in range(0,len(a)):
    for j in range(0,len(b)):
      if a[i]!=b[i]:
        return a[i] 

arr1 = [9,8,7,6,5,4,3,2,1]
arr2 = [9,8,7,5,4,3,2,1]

finder(arr1,arr2)

6

In [ ]:
arr1 = [9,8,7,6,5,4,3,2,1,3,4,5]
arr2 = [9,8,7,5,4,3,2,1]

d={}

for i in arr2:
  if i in d:
    d[i] +=1
  else:
    d[i]=1

print(d)

for j in arr1:
  if j not in d:
    print(j)
  else:
    pass

{9: 1, 8: 1, 7: 1, 5: 1, 4: 1, 3: 1, 2: 1, 1: 1}
6

Continuos Sum

In [ ]:
l=[1,2,-1,3,4,-1]
m=[]
cnt=0
for i in range(0,len(l)):
      cnt+=l[i]
      m.append(cnt)


print(m)
m.sort()
print(m[-1])

[1, 3, 2, 5, 9, 8]
9

In [ ]:
l=[1,2,-1,3,4,-1]
m=[]
cnt=l[i]
mx=l[i]

for i in range(0,len(l)):
      cnt+=l[i]
      mx=max(cnt,mx)


print(mx)

8

Given a string of words, reverse all the words. For example:

Given:

'This is the best'

Return:

'best the is This'

In [ ]:
def splity(a):
  b=a.split()
  c=[]
  for i in range(len(b),0):
    c.append(b[i])
 
  return b

print(splity('This is the best'))

['This', 'is', 'the', 'best']

In [ ]:
a=' This is the best'
b=a.split()
c=[]
s=' '
i=0
while i < len(b):
  if b[i]!=s:
    c.append(b[i])
    c.append(s)
    
  i+=1

print(" ".join(c) )

This   is   the   best

Text : String complresssiton

In [ ]:
x='AAAABBBBCCCCbabababbbaCDDEEEE'
y=list(x)
print(y)

d={}

for i in x:
  if i in d:
    d[i] +=1
  else:
    d[i]=1
    

print(d)

['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'b', 'b', 'a', 'C', 'D', 'D', 'E', 'E', 'E', 'E']
{'A': 4, 'B': 4, 'C': 5, 'b': 6, 'a': 4, 'D': 2, 'E': 4}

positive on e side nesgagive once side

[10,-1,20,4,5,-9,-6]

In [ ]:
l=[10,-1,20,4,5,-9,-6]
m=[]
n=[]

for i in range(0,len(l)):
  if l[i]>0:
    m.append(l[i])
  else:
    n.append(l[i])

print(l)
print(n+m)

[10, -1, 20, 4, 5, -9, -6]
[-1, -9, -6, 10, 20, 4, 5]

In [ ]:
l=[1,2,5]
m=[3,4,6]
n=[]

for i in range(0,len(l)):
  for j in range(0,len(m)):
    if l[i]>m[j]

In [ ]:
# Merge list1 and list2 and return resulted list
def merge_lists(lst1, lst2):
    index_arr1 = 0
    index_arr2 = 0
    index_result = 0
    result = []

    for i in range(len(lst1)+len(lst2)):
        result.append(i)
    
    print(result)
    # Traverse Both lists and insert smaller value from arr1 or arr2
    # into result list and then increment that lists index.
    # If a list is completely traversed, while other one is left then just
    # copy all the remaining elements into result list
    while (index_arr1 < len(lst1)) and (index_arr2 < len(lst2)):
        if (lst1[index_arr1] < lst2[index_arr2]):
            result[index_result] = lst1[index_arr1]
            index_result += 1
            index_arr1 += 1
        else:
            result[index_result] = lst2[index_arr2]
            index_result += 1
            index_arr2 += 1
    while (index_arr1 < len(lst1)):
        result[index_result] = lst1[index_arr1]
        index_result += 1
        index_arr1 += 1
    while (index_arr2 < len(lst2)):
        result[index_result] = lst2[index_arr2]
        index_result += 1
        index_arr2 += 1
    return result


print(merge_lists([4, 5, 6], [-2, -1, 0, 7]))

[0, 1, 2, 3, 4, 5, 6]
[-2, -1, 0, 4, 5, 6, 7]

In [ ]:
arr1 = [9,8,7,6,5,4,3,2,1,3,4,5]
arr2 = [9,8,7,5,4,3,2,1]

d={}

for i in arr2:
  if i in d:
    d[i] +=1
  else:
    d[i]=1

print(d)

for j in arr1:
  if j not in d:
    print(j)
  else:
    pass

{9: 1, 8: 1, 7: 1, 5: 1, 4: 1, 3: 1, 2: 1, 1: 1}
6

In [ ]:
c='aabcde'
d=list(c)

print(d)

for i in (1,len(d)-1):
  if d[i-1]==d[i]:
    print('True')
    break
  else: 
    print('False')

['a', 'a', 'b', 'c', 'd', 'e']
True

In [ ]:


s=["flower","flow","flight"]
s[0][1:4]

'low'

Input: strs = ["flower","flow","flight"]

Output: "fl"

In [ ]:
s=["flower","flow","flight"]
p=list(s[0])


print(p)

for i in range(0,len(p)):
  for j in range(1,len(s)):
    if s[i][0:j]

['f', 'l', 'o', 'w', 'e', 'r']

In [ ]:
lst[i]: lst[i + 1] for i in range(0, len(lst), 2)

In [ ]:
nums = [4,1,2,1,2]
d={}

{4: 1, 1: 2, 2: 2}
4

In [ ]:
d={4: 1, 1: 3, 2: 2}
print(d.keys(1))

TypeError: ignored

Balance Check

s='{{{{[]}}}}'

In [ ]:
s='{{{{[{{}}]}}}}]'

p=list(s)

open=('[','{','(')

match=(('[',']'),('{','}'),('(',')'))

lst=p[0]

x=[]

if len(p)%2!=0:
  print('no use')
  exit


for i in s:
  if i in open:
    x.append(i)

  else : 
    if len(x)==0:
      print('nope')
      break

    lst=x.pop()

    if (lst,i) not in match:
      print('False')
      print((i,lst))

no use
nope

In [ ]:
def fact(n):

  if n==0:
    return 1
    print('base case')
  else:
    print(n)
    print('recur')
    return n*fact(n-1)

fact(5)

5
recur
4
recur
3
recur
2
recur
1
recur

120

In [ ]:
def cum(a):

  if a==0:
    return 0
  else: 
    return a%10+cum(int(a/10))




print(cum(4321))

10

In [ ]:
int(4502/10)

450

In [ ]:
nums = [3,2,3]
d={}

for i in nums:
  if i in d:
    d[i]+=1
  else:
    d[i]=1



for i in d:
  if d[i]>len(nums)/2:
    print(i)

{3: 2, 2: 1}
2
3

Recursion

s='Hello World'

o = dlrow olleh'

In [ ]:
def rev(d):

  print('above',d)
  if len(d)==1:
    print('here',d)
    return d


  return  rev(d[1:])+d[0]

print(rev('abcdef'))

above abcdef
above bcdef
above cdef
above def
above ef
above f
here f
fedcba

Fibonacci Series

n = 10

In [ ]:
n=10

for i in range(n)

In [ ]:
x=256

       
u=list(str(x))
y=[]
v=len(u)

print(u )

for i in (len(u)-1,0,-1):
  y.append(u[i])

str1 = ''.join(y)
            
print(str1)

['2', '5', '6']
626

In [ ]:
words = ["hello","leetcode"]
order = "hlabcdefgijkmnopqrstuvwxyz"

d={}

for x,y in enumerate(order):
  d[y]=x
            
print(d)

for j in range(len(words)-1):
  for k in range(min(len(words[j]),len(words[j+1]))):
    # print(words[j][k])
    # print(words[j+1][k])
    print(d[words[j][k]])
    if d[words[j][k]]<d[words[j+1][k]]:
      print(True)


# print(len(words))

{'h': 0, 'l': 1, 'a': 2, 'b': 3, 'c': 4, 'd': 5, 'e': 6, 'f': 7, 'g': 8, 'i': 9, 'j': 10, 'k': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}
0
not works
6
1
not works
1
not works
14

In [ ]:
# nums = [-2,1,-3,4,-1,2,1,-5,4]
nums = [-2,1,4]
sub=[]

for i in range(0,len(nums)):
  for j in range(i+1,len(nums)):
    print(nums[j])

1
4
4

53. Maximum Subarray
[-2,1,-3,4,-1,2,1,-5,4]

In [ ]:
c=[-2, 1, -3, 4, -1, 2, 1, -5, 4]


max_sub=0
sum=0

for i in range(0,len(c)):
  d=[]
  for j in range(i,len(c)):
    d.append(c[j])
    sum=0
    for n in range(0,len(d)):
      sum+=d[n]
    max_sub=max(max_sub,sum)


print(max_sub)

6

In [ ]:
print("Hello World")

Hello World

In [ ]:
s=[2323,3,4,5,6,6,7,8,8,9,9,9]
p=9



for i in s:
  if i==p:
    print("found")

i=0

print(len(s))

while i <  len(s) :
  print(i)
  if i==p:
    print('found')
    print(i)
  i=i+1

found
found
found
12
0
1
2
3
4
5
6
7
8
9
found
9
10
11

In [ ]:
s=[2323,3,4,5,6,6,7,8,8,9,9,9]
p=9

In [ ]:
s[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

first = 0 
last = len(s)-1



while i < len(s):
 
  if s[i]

In [ ]:
print("Hello World")

Hello World

In [ ]:
# Reverse a integer
# -132 = -231




def rev(var):

  num=abs(var)
  rev=0
  last=0

  while num > 0:
    last=num%10
    rev=rev*10+last
    num=num//10




  if var<0:
    return -1*rev
  else: 
    return rev




print(rev(-132))

-231

In [ ]:
a=[2,3,4,5]

sum(a)/len(a)

14

In [ ]:
num=132
rev=0
last=0

while num > 0:
  last=num%10
  rev=rev*10+last
  num=num//10

print(rev)

231

In [ ]:



def cnty(senty):

  senty=senty.replace(".",'')
  senty=senty.replace(",",'')

  sent=senty.split()

  y=[ len(x) for x in sent  ]

  return sum(y)/len(y)


  

print(cnty("Hi all, my name is Tom...I am originally from Australia."))

4.2

In [ ]:
x=[1,2,3,4,5,6]


y= [i for i in x if i%2==0]


print(y)

[2, 4, 6]

In [ ]:
# Add two strings with nums 


a='250'
b='750'


def addy(a,b):
  return str(eval(a)+eval(b))



print(addy(a,b))

1000

In [ ]:
s=' Hello World'

s.lower()

' hello world'

In [ ]:
def cty(a):

  freq={}
  arr=list(a)

  for i in a:
    if i not in freq:
      freq[i]=1
    else :
      freq[i]+=1
 
  for j in freq:
    if freq[j]==1:
      return j




print(cty('kkkkkkkishorepradeepanbazhagan'))

i

In [ ]:
def pal_check(a,b):

  rev_arr=[]

  for i in range(len(a)-1,0):
    rev_arr.append(a[i])

  rev=''.join(rev_arr)
  print(a)
  print(b)
  print(rev)

  return a==b[::-1]



print(pal_check('dog','god'))

dog
god

True

In [ ]:
sorted('god')

['d', 'g', 'o']

In [ ]:
sorted('dog')

['d', 'g', 'o']

In [ ]:
 list(reversed('god'))

['d', 'o', 'g']

In [ ]:
A = [6, 5, 4, 4] 
C = [1,1,1,3,3,4,3,2,4,2]
B = [1,1,2,3,7]


z=all([ B[y]<=B[y+1]  for y in range(0,len(B)-2) ])

print(z)

True

In [ ]:
def sumy(*args):

  s=0
  for i in args:
    s=i+s

  return s

print(sumy(1,2,3,54645,787,4,5))

55447

In [1]:
s='kidhore'

print(list(s))

['k', 'i', 'd', 'h', 'o', 'r', 'e']